body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(135deg, #e9f3ff, #ffedf7);
  background-attachment: fixed;
  font-family: "Prompt", sans-serif;
}

header {
  background: rgba(255, 255, 245, 0.75);
  backdrop-filter: blur(6px);
  padding: 30px 10px;
  border-radius: 15px;
  width: 85%;
  margin: 25px auto;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.card {
  border: none;
  border-radius: 18px;
  background: rgba(255, 255, 245, 0.75);
  backdrop-filter: blur(5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: 0.25s;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.btn-primary {
  background-color: #87bdff;
  color: white;
  width: 100%;
  border-radius: 10px;
  border: 2px solid #8bc0fc;
}

.btn-primary:hover {
  background: linear-gradient(90deg, #b5e5ff, #fbb1f0);
  border: 2px solid rgba(255, 255, 245, 0.75);
}

/* footer */
footer {
  margin-top: 60px;
  color: #555;
}
.text-centerpy-4 {
  background: rgba(255, 255, 245, 0.75);
  text-align: center;
}

